# Created by https://www.toptal.com/developers/gitignore/api/fortran
# Edit at https://www.toptal.com/developers/gitignore?templates=fortran

### Fortran ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Data Files
*.csv
*.csv#
!input_variables_case7.csv
!input_variables_case7.csv
!ICAO_Standard_Atmosphere_English_units.csv
!ICAO_Standard_Atmosphere_SI_units.csv

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### GNUplot ###
# Plots
*.pdf
*.png

# End of https://www.toptal.com/developers/gitignore/api/fortran